.problem-button {
  height: 50px;
  border-radius: 10px;
  width: 250px;
  font-size: 20px;
  background-color: yellow;
  margin-bottom: 15px;
}

.button-container {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.sub-title{
  text-decoration: underline;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
