<div class="page-title">
  <h6 class="sub-title">What do you need help with?</h6>
</div>
<div class="button-container">
  <% @problems.each do |problem| %>
    <button class="problem-button"><%= problem.capitalize %></button>
    <br>
  <% end %>
</div>
<div class="extra-info">
  <a class="more" href="#">find out more</a>
</div>
