.title{
  color: white;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner-top{
  justify-content: center;
  text-align: center;
  background-color: #050a30;
  border-bottom: double;
  margin-top: 0%;
}
